.exhibition-hero {
    background: url(../assets/figma-imgs/whale.png) no-repeat
      center;
    background-size: cover;
    margin: 0;
    height: 200px;

    h1 {
        margin: 0;
        padding: 3rem;
        width: 100px;
        font-weight: 600;
        text-shadow: 0px 2.49px 7.469px #000;
        letter-spacing: 2.5px;
    }

  }

.book-now {
  height: 50px;
  h6 {
    margin: 0;
    font-size: 1.25rem;
  }
  a {
    padding: .5rem;
  }
}

.exhibit-content {
  width: 100%;
  padding: 1rem 0;
  .exh-img {
   margin: 1rem;
  }
  img {
    width: 100%;
    height: 215px;
    object-fit:contain;
  
  }
  h2 {
   font-size: 3rem;
    top: 60%;
    right: 10%;
    text-shadow: 0px 2.181px 27.261px #000;
    margin: 0;
  }
  h5 {
    margin: 1rem;
    font-size: 1.25rem;
    font-weight: 500;
  }
  p{
    margin: auto 2rem;
  }
}



  @media only screen and (min-width: 480px) and (max-width: 979px) { 

    .exhibition-hero {
      height: 250px;
  
      h1 {
          
          font-size: 3rem;letter-spacing: 4.883px;
      }
  
    }
    .book-now {
      height: 55px;
      h6 {
        margin: 0;
        font-size: 1.25rem;
      }
      a {
        padding: .5rem 3rem;
      }
    }

    .exhibit-content {
      
      p{
        max-width: 550px;
        margin: auto 2rem;
      }
    }

  }

  
  @media only screen and (min-width: 980px) {

    .exhibition-hero {
      height: 400px;
  
      h1 {
        padding-top: 5rem;
          padding-left: 10%;
          font-size: 6rem;
          letter-spacing: 4.883px;
      }
  
    }

    .book-now {
      height: 60px;
      h6 {
        margin: 0;
        font-size: 2rem;
      }
      a {
        font-size: 1.25rem;
        padding: .5rem 4rem;
      }
    }

    .exhibit-content {
      gap: 2rem;
      .exh-img {
       margin: 1rem;
      }
      img {
        width: 100%;
        height: 340px;
        object-fit:contain;
      
      }
      h2 {
       font-size: 4rem;
        top: 55%;
        right: 5%;
      }
      .exh-text {
        max-width: 550px;
        margin-right: 2rem;
      }
      h5 {
        margin: 0 0 2rem 0;
        font-size: 1.95rem;
        font-weight: 600;
      }
      p{
        font-size: 1.25rem;
        margin:0;
      }
    }

   }