header {
    width: 100%;
    height: 94px;
    margin: auto;
   /*  max-width: 1600px; */
}

.header-container {
    position: relative;
    height: auto;
    margin: auto;
    position: relative;
    max-width: 1600px;
    margin: auto;
}

.floating-nav-wrapper {
    max-width: 1600px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    z-index: 1000;
    pointer-events: none;
}

.nav {
    width: 230px;
    height: 46px;
    z-index: 100;
    pointer-events: all;
}


.logo { 
   width: 40%;
    
}

.burger-con {
    background-color: transparent;
    border: none;
    
 .burger{
    width: 60%;
 }
    
}

.search-con {
    margin-left: 10px;
}
.search-icon {
    width: 25px;
}

.search {
    width: 72px;
    color: #fff;
    background-color: transparent;
    border: none; /* Remove any existing borders */
    border-bottom: 2px solid #fff; /* Add a border only to the bottom */
    outline: none; /* Remove the default focus outline */
}



#dialogNav {
    max-width: 1600px;
    width: 280px;
    margin-right: 0 ;
    margin-top: 70px;
    border: none;
    .dialog-container {
       position: relative;
       right: 0px;
    }
}


#dialogNav::backdrop {
    background-color: transparent;
}



/* Footer */
footer {
    margin-top: 4rem;
    padding-bottom: 1rem;
    .footer-contents {
        display: flex;
        flex-wrap: wrap;
    }
        .footer-contents > div {
            
            margin: 2rem 2rem 0 10%;
        }
        .footer-logo {
            margin-top: 1rem;
            width: 136px;
            height: 82px;
           }
        h6 {
            font-size: 1.25rem;
            margin: 1rem 0;
           } 
        p {
            margin: .5rem 0;
           }
        .email {
            border-radius: 5px;
            width: 230px;
            height: 25px;
            display: block;
        }
        .sign-up {
            text-align: center;
            border-radius: 5px;
            margin-top: 5px;
            background-color: #000;
            width: 230px;
            height: 25px;
            display: block;
        }

        .social-media {
        .icons {
            padding: 0;
            margin: 0;
        }
            ul li img {
                width: 30px;
            }
        }
        
} 

.terms {
    a {
       display: block;
      padding: 1rem;
       margin: auto;
    }
}



/* Medium Screen */
@media only screen and (min-width: 480px) and (max-width: 979px) {
    header {
        height: 100px;
    }

    .nav {
        width: 300px;
        height: 50px;
    }

    .logo {
        width: 50%;     
        margin-left: 5vw;
     }

     .burger-con {
     .burger{
        width: 80%;   
     }       
    }
    
    .search-icon {
        width: 30px;
    }
    #dialogNav {
        width: 300px;
        margin-top: 76px;
    }
}
    


/* Large Screen*/
@media only screen and (min-width: 980px){
        header {
            height: 115px;
        }
        .nav {
            width: 500px;
            height: 60px;
           
        }
        .logo {
            width: 60%;
            margin-left: 25px;
         }
    
         .burger-con {
         .burger{
            width: 90%;   
         }       
        }
        
        
        .search-icon {
            width: 35px;
        }
        
        .search {
            width: 120px;
        }

        #dialogNav {
            width: 500px;
            margin-top: 88px;
        }
}
    


@media screen  and (min-width: 1600px){
    #dialogNav {
        margin-right:calc((99vw - 1600px)/2);
        margin-top: 90px;
    }
}