header {
    width: 100%;
    height: 94px;
}


.nav {
    width: 250px;
    height: 46px;
    right: 0px;
    z-index: 100;
    
}


.logo {
   width: 40%;
    
}

.burger-con {
    background-color: transparent;
    border: none;
    
 .burger{
    width: 60%;
   
 }
    
}

.search-con {
    margin-left: 10px;
}
.search-icon {
    width: 25px;
}

.search {
    width: 72px;
    color: #fff;
    background-color: transparent;
    border: none; /* Remove any existing borders */
    border-bottom: 2px solid #fff; /* Add a border only to the bottom */
    outline: none; /* Remove the default focus outline */
}

#dialogNav {
    width: 280px;
    margin-right: 0px;
    margin-top: 70px;
    border: none;
    .dialog-container {
       position: relative;
       right: 0px;
    }
}
#dialogNav::backdrop {
    background-color: transparent;
}




/* Medium Screen */
@media only screen and (min-width: 480px) and (max-width: 979px) {
    header {
        height: 100px;
    }

    .nav {
        width: 300px;
        height: 50px;
    }

    .logo {
        width: 50%;     
        margin-left: 5vw;
     }

     .burger-con {
     .burger{
        width: 80%;   
     }       
    }
    
    .search-icon {
        width: 30px;
    }
    #dialogNav {
        width: 300px;
        margin-top: 76px;
    }
}
    


/* Medium Screen */
@media only screen and (min-width: 980px) {
        header {
            height: 115px;
        }
        .nav {
            width: 500px;
            height: 60px;
           
        }
        .logo {
            width: 60%;
            margin-left: 25px;
         }
    
         .burger-con {
         .burger{
            width: 90%;   
         }       
        }
        
        
        .search-icon {
            width: 35px;
        }
        
        .search {
            width: 120px;
        }

        #dialogNav {
            width: 500px;
            margin-top: 88px;
        }
}
    