*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: #fff;
    background-color: #F2F2F2;
  }

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  img {
    max-width: 100%;
  }


  section,
  header,
  footer,
  article {
    max-width: 1600px;
    margin: auto;
  }