/* Flexbox */
.flex {display: flex;}
.flex-row {flex-direction: row;}
.flex-col {flex-direction: column;}
.justify-center {justify-content: center;}
.justify-start {justify-content: start;}
.justify-end {justify-content: end;}
.align-center {align-items: center;}
.align-start {align-items: start;}
.space-around {justify-content: space-around;}
.space-between {justify-content: space-between;}

/* gap */
.gap-05 {gap: 0.5rem;}
.gap-1 {gap: 1rem;}
.gap-2 {gap: 2rem;}
.gap-3 {gap: 3rem;}
.gap-5 {gap: 5rem;}

.block {display: block;}
.hidden {display: none;}

/* position */
.relative {position: relative;}
.absolute {position: absolute;}
.fixed {position: fixed;}
.sticky {position: fixed;}

/* text align */
.t-align-right {text-align: right;}
.t-align-left {text-align: left;}
.t-align-center {text-align: center;}

/* Padding */
.pad-0 {padding: 0;}
.pad-05 {padding: 0.5rem;}
.pad-1 {padding: 1rem;}
.pad-2 {padding: 2rem;}
.pad-3 {padding: 3rem;}
.pad-4 {padding: 4rem;}

/* Margin */
.m-0 {margin: 0;}
.m-05 {margin: 0.5rem;}
.m-1 {margin: 1rem;}
.m-2 {margin: 2rem;}
.m-3 {margin: 3rem;}
.m-4 {margin: 4rem;}
.m-5 {margin: 5rem;}

/* color */
.clr-black {color: black;}
.clr-white {color: white;}
.clr-red-100 {color: #DE1429;}
.clr-red-200 {color: #ED384B;}
.clr-yellow {color: #FBC50A;}
.clr-blue-100 {color: #16A2E1;}
.clr-blue-200 {color: #6FCFFB;}

/* background color */
.bg-clr-black {background-color: black;}
.bg-clr-dark {background-color: #2D2727;}
.bg-clr-white {background-color: white;}
.bg-clr-red-100 {background-color: #DE1429;}
.bg-clr-red-200 {background-color: #ED384B;}
.bg-clr-orange {background-color: #FF3000;}
.bg-clr-yellow {background-color: #FBC50A;}
.bg-clr-blue-100 {background-color: #16A2E1;}
.bg-clr-blue-200 {background-color: #6FCFFB;}
.bg-clr-opacity {background: rgba(0, 0, 0, 0.50);}

/* text decoration */
.t-decor-underline {text-decoration: underline;}
.hover-underline:hover {text-decoration: underline;}
.hover-show:hover {display: block;}

/* Font Size */
.fs-16 {font-size: 1rem;}
.fs-18 {font-size: 1.125rem;}
.fs-20 {font-size: 1.25rem;}
.fs-25 {font-size: 1.563rem;}
.fs-31 {font-size: 1.95rem;}
.fs-39 {font-size: 2.44rem;}
.fs-48 {font-size: 3rem;}
.fs-61 {font-size: 3.82rem;}
.fs-96 {font-size: 6rem;}

/* font weight */
.fw-4 {font-weight: 400;}
.fw-5 { font-weight: 500;}
.fw-6 {font-weight: 600;}
.fw-7 {font-weight: 700;}
.fw-8 {font-weight: 800;}
.fw-9 {font-weight: 900;}

/* letter spacing */
.spacing-2 {letter-spacing: 2px;}
.spacing-2-5 {letter-spacing: 2.5px;}
.spacing-6-1 {letter-spacing: 6.1px;}

.max-w-content {max-width: fit-content;}
.cur-pointer {cursor: pointer;}


/* buttons */
.btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
}

@media only screen and (min-width: 480px) and (max-width: 979px) {
/* MEDIUM SCREEN */
/* Flexbox */
.flex-m {display: flex;}
.flex-row-m {flex-direction: row;}
.flex-col-m {flex-direction: column;}
.justify-center-m {justify-content: center;}
.justify-start-m {justify-content: start;}
.justify-end-m {justify-content: end;}
.align-center-m {align-items: center;}
.align-start-m {align-items: start;}
.space-around-m {justify-content: space-around;}
.space-between-m {justify-content: space-between;}

/* gap */
.gap-05-m {gap: 0.5rem;}
.gap-1-m {gap: 1rem;}
.gap-2-m {gap: 2rem;}
.gap-3-m {gap: 3rem;}
.gap-5-m {gap: 5rem;}

.block-m {display: block;}
.hidden-m {display: none;}

/* position */
.relative-m {position: relative;}
.absolute-m {position: absolute;}
.fixed-md {position: fixed;}

/* text align */
.t-align-right-m {text-align: right;}
.t-align-left-m {text-align: left;}
.t-align-center-m {text-align: center;}

/* Padding */
.pad-0-m {padding: 0;}
.pad-05-m {padding: 0.5rem;}
.pad-1-m {padding: 1rem;}
.pad-2-m {padding: 2rem;}
.pad-3-m {padding: 3rem;}
.pad-4-m {padding: 4rem;}

/* Margin */
.m-0-m {margin: 0;}
.m-05-m {margin: 0.5rem;}
.m-1-m {margin: 1rem;}
.m-2-m {margin: 2rem;}
.m-3-m {margin: 3rem;}
.m-4-m {margin: 4rem;}
.m-5-m {margin: 5rem;}




/* text decoration */
.t-decor-underline-m {text-decoration: underline;}
.hover-underline:hover {text-decoration: underline;}

/* Font Size */
.fs-16-m {font-size: 1rem;}
.fs-18-m {font-size: 1.125rem;}
.fs-20-m {font-size: 1.25rem;}
.fs-25-m {font-size: 1.563rem;}
.fs-31-m {font-size: 1.95rem;}
.fs-39-m {font-size: 2.44rem;}
.fs-48-m {font-size: 3rem;}
.fs-61-m {font-size: 3.82rem;}
.fs-96-m {font-size: 6rem;}

/* font weight */
.fw-4-m {font-weight: 400;}
.fw-5-m { font-weight: 500;}
.fw-6-m {font-weight: 600;}
.fw-7-m {font-weight: 700;}
.fw-8-m {font-weight: 800;}
.fw-9-m {font-weight: 900;}

/* letter spacing */
.spacing-2-m {letter-spacing: 2px;}
.spacing-2-5-m {letter-spacing: 2.5px;}
.spacing-6-1-m {letter-spacing: 6.1px;}

.max-w-content-md {max-width: fit-content;}
    
    
    }



@media only screen and (min-width: 980px) {
/* Large screen */
/* Flexbox */
.flex-l {display: flex;}
.flex-row-l {flex-direction: row;}
.flex-col-l {flex-direction: column;}
.justify-center-l {justify-content: center;}
.justify-start-l {justify-content: start;}
.justify-end-l {justify-content: end;}
.align-center-l {align-items: center;}
.align-start-l {align-items: start;}
.space-around-l {justify-content: space-around;}
.space-between-l {justify-content: space-between;}

/* gap */
.gap-05-l {gap: 0.5rem;}
.gap-1-l {gap: 1rem;}
.gap-2-l {gap: 2rem;}
.gap-3-l {gap: 3rem;}
.gap-5-l {gap: 5rem;}

.block-l {display: block;}
.hidden-l {display: none;}

/* position */
.relative-l {position: relative;}
.absolute-l {position: absolute;}
.fixed-l {position: fixed;}

/* text align */
.t-align-right-l {text-align: right;}
.t-align-left-l {text-align: left;}
.t-align-center-l {text-align: center;}

/* Padding */
.pad-0-l {padding: 0;}
.pad-05-l {padding: 0.5rem;}
.pad-1-l {padding: 1rem;}
.pad-2-l {padding: 2rem;}
.pad-3-l {padding: 3rem;}
.pad-4-l {padding: 4rem;}

/* Margin */
.m-0-l {margin: 0;}
.m-05-l {margin: 0.5rem;}
.m-1-l {margin: 1rem;}
.m-2-l {margin: 2rem;}
.m-3-l {margin: 3rem;}
.m-4-l {margin: 4rem;}
.m-5-l {margin: 5rem;}


/* Font Size */
.fs-16-l {font-size: 1rem;}
.fs-18-l {font-size: 1.125rem;}
.fs-20-l {font-size: 1.25rem;}
.fs-25-l {font-size: 1.563rem;}
.fs-31-l {font-size: 1.95rem;}
.fs-39-l {font-size: 2.44rem;}
.fs-48-l {font-size: 3rem;}
.fs-61-l {font-size: 3.82rem;}
.fs-96-l {font-size: 6rem;}

/* font weight */
.fw-4-l {font-weight: 400;}
.fw-5-l { font-weight: 500;}
.fw-6-l {font-weight: 600;}
.fw-7-l {font-weight: 700;}
.fw-8-l {font-weight: 800;}
.fw-9-l {font-weight: 900;}

/* letter spacing */
.spacing-2-l {letter-spacing: 2px;}
.spacing-2-5-l {letter-spacing: 2.5px;}
.spacing-6-1-l {letter-spacing: 6.1px;}

.max-w-content-l {max-width: fit-content;}


        
        }



